# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# local env
.env*
!.env.example

# misc
.DS_Store
.vscode
*.log

# docker
docker-compose.override.yml

# system
Thumbs.db