*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scrollbar-gutter: stable; /* Убираем скачок интерфейса по горизонтали*/
}

html,
:has(:target) {
  scroll-behavior: smooth; /*Плавный скролл*/
}

body {
  min-height: 100%;
  line-height: 1.5;
}

/* Обнуление внешних отступов у параграфов и списков*/
p,
:where(ul, ol):where([class]) {
  margin-block: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые их не хотят*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}