:root {
  --color-light: #ffffff;
  --color-light-alt: #e3d3f4;
  --color-dark: #4a4a4a;
  --color-purple: #8e50d2;
  --color-purple-light: #c8a4e4;
  --color-yellow: #ffd484;
  --color-red: #C94E70;

  --bg-color-guest: linear-gradient(
    60deg,
    var(--color-light) 0%,
    var(--color-light) 20%,
    #d0b5ee 50%,
    var(--color-purple) 100%
  );
  --bg-color-user: linear-gradient(
    60deg,
    var(--color-light) 0%,
    #d0b5ee 23%,
    var(--color-purple) 100%
  );

  --padding-inline: 30px;

  --border: 2px solid var(--color-light);
  --border-radius: 10px;
  --border-radius-large: 25px;

  --content-container-width: clamp(740px, 69.4vw, 1000px);
  --form-container-width: clamp(360px, calc(48.6vw - var(--padding-inline)) ,700px);
}