

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Variable', monospace;
  line-height: 100%;
};

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

a, a:hover {
  text-decoration: none;
  color: inherit;
};